.my-img-container {
  overflow: hidden;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
}

.my-img-container:hover:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #20c9967b;
  color: white;
}

.my-star::before,
.my-star::after {
  content: "";
  display: block;
  width: 20%;
  background-color: white;
  height: 5px;
  margin: 0 10px;
  border-radius: 10px;
}

.my-star.black::before,
.my-star.black::after {
  background-color: black;
}

.my-btn-download {
  color: var(--bs-white);
}
.my-btn-download:hover {
  background: var(--bs-white);
  color: var(--bs-danger);
}
#name,
#email,
#number,
#text-area {
  border: none;
  border-radius: 0;
  border-bottom: 1px solid var(--bs-gray);
  font-size: 1.1em;
  font-weight: 600;
  line-height: 2em;
}
